$bg: #eee;

.box {
    background-color: $bg;
    &_title {
        color: #f00;
    }
    &_image {
        max-width: 200px;
    }
    &_svg {
        fill: blueviolet;
        &:hover {
            fill: gold;
        }
    }
    &_circle {
        fill: blueviolet;
        &:hover {
            fill: rgb(43, 226, 83);
        }
    }
    &_ellipse {
        fill: gold;
        &:hover {
            fill: blueviolet;
        }
    }
}